<%- partial('_partial/loading') %>

<header id="header" class="site-header clearfix">

  <a class="logo square clearfix" href="<%- url_for() %>">
    <!-- 
      Replace with your own size name, for example:
      <span class="b">A</span>
      <span class="w">B</span>
      <span class="b">C</span>
     -->
     <span class="b">A</span>
     <span class="b">R</span>
     <span class="b">T</span>
     <span class="w">I</span>
     <span class="w">F</span>
     <span class="b">A</span>
     <span class="b">C</span>
     <span class="b">T</span>
  </a>
  <a class="me square site-nav-switch clearfix">
    <span class="b">
    	<span class="icon icon-menu"></span>
    </span>
  </a>

</header>
