<li class="post-item grid-item">
	<a class="post-link" href="<%- url_for(post.path) %>">
		<h3 class="post-title"><%= post.title %></h3>
	  <div class="post-meta">
	    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
	      <%= date(post.date, 'M.D.YY') %>
	    </time>
	  </div>
  </a>
</li>
