@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uxdgz6');
  src:  url('fonts/icomoon.eot?uxdgz6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uxdgz6') format('truetype'),
    url('fonts/icomoon.woff?uxdgz6') format('woff'),
    url('fonts/icomoon.svg?uxdgz6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e5cd";
}
.icon-list:before {
  content: "\e896";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-share:before {
  content: "\e80d";
}
.icon-creative-commons:before {
  content: "\e918";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-thin-down:before {
  content: "\e903";
}
.icon-chevron-thin-left:before {
  content: "\e904";
}
.icon-chevron-thin-right:before {
  content: "\e905";
}
.icon-chevron-thin-up:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-feed:before {
  content: "\e90a";
}
.icon-behance:before {
  content: "\e90c";
}
.icon-weibo:before {
  content: "\e90e";
}
.icon-dribbble:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-github:before {
  content: "\e910";
}
.icon-google:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\e917";
}
.icon-pinterest:before {
  content: "\e913";
}
.icon-tumblr:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}

